{% extends 'index.html' %}

{% block title %}TO-DOs List{% endblock %}

{% block content %}
{% for category in board.categories %}
<ul class="no-style">
  <li class="margin-bottom-8">
    <h1 class="margin-0">{{ category.name }}</h1>
  </li>
  <li class="margin-bottom-8">
    <a class="button" href="{% url 'boards:tasks:add_task' board_slug=board.slug category_id=category.id %}">+ Add Task</a>
  </li>

  {% for task in category.tasks %}
  <li class="flex flex-align-center padding-8-0">
    <input type="checkbox" class="large-checkbox">
    <div>
      <div>{{ task.title }}</div>
      <div class="mute smaller">{{ task.description }}</div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<a class="button" href="{% url 'boards:tasks:add_category' board_slug=board.slug %}">+ Add Group</a>
{% endblock %}
