{% extends 'index.html' %}

{% block title %}TO-DOs List{% endblock %}

{% block content %}
<h1 class="h3">Your tasks</h1>

{% for category in board.categories %}
<ul>
  <li>
    <h2>{{ category.name }}</h2>
  </li>
  <li>
    <a href="{% url 'boards:tasks:add_task' board_slug=board.slug category_id=category.id %}">+ Add Task</a>
  </li>

  {% for task in category.tasks %}
  <li class="flex">
    <input type="checkbox">
    <div>
      <div>{{ task.title }}</div>
      <div>{{ task.description }}</div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}

<a href="{% url 'boards:tasks:add_category' board_slug=board.slug %}">+ Add Group</a>
{% endblock %}
