<ul x-data class="no-style margin-top-56" key="category-{{ category.id }}" x-ref="categoryList">
  <li
    class="margin-bottom-8"
    key="category-name"
    x-data="{'isEditing': false}"
  >
    <h1
      class="margin-0"
      data-url="{% url 'boards:tasks:edit_category' board_slug=category.board.slug category_id=category.id %}"
      x-on:dblclick="
        fetch($el.dataset.url)
        .then(resp => resp.text())
        .then(html => {
          isEditing = true
          $refs.categoryEditForm.innerHTML = html
          $refs.categoryEditForm.show()
        })
      "
      x-show="!isEditing"
    >
      {{ category.name }}
    </h1>
    <dialog
      class="h1 dialog-inline"
      x-ref="categoryEditForm"
      x-on:keydown.escape="
        isEditing = false
        $el.close()
      "
      x-on:keydown.stop
    >
    </dialog>
  </li>
  <li class="margin-bottom-8" x-data="{showForm: false}" key="category-form">
    <button x-on:click="showForm = true" x-show="!showForm">+ Add Task</button>
    <div x-show="showForm" x-cloak>
      <form
        class="form-vertical"
        action="{% url 'boards:tasks:add_task' board_slug=category.board.slug category_id=category.id %}"
        method="POST"
        x-on:submit.prevent="
          Utils.ajaxSubmit($el)
          .then(resp => resp.text())
          .then(html => Alpine.morph($refs.categoryList, html))
          .then(() => {
            $el.title.value = ''
            $el.description.value = ''
          })
        "
      >
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Task</button>
        <button type="button" x-on:click="showForm = false">Cancel</button>
      </form>
    </div>
  </li>

  {% for task in category.tasks %}
  {{ task.serialize|json_script:task.json_script_id }}
  <li
    tabindex="-1"
    class="flex flex-align-center padding-8-0"
    key="task-{{ task.id }}"
    data-task-id="{{ task.id }}"
    data-update-url="{% url 'boards:tasks:update_task' board_slug=category.board.slug task_id=task.id %}"
    x-ref="task"
    x-data="{
      formData: {
        title: '',
        description: '',
        is_completed: false,
        snoozed_till: null
      },
      submitChanges() {
        Utils.post($el.dataset.updateUrl, this.formData)
        .then(resp => resp.json())
        .then(data => formData = data)
      },
      snoozeOptions: {
        show: false,
        number: 2,
        unit: 'days'
      }
    }"
    x-init="
      formData = JSON.parse(document.getElementById('{{ task.json_script_id }}').textContent)
      $watch('snoozeOptions', value => formData.snoozed_till = App.getSnoozeTime(value.number, value.unit))
    "
    x-on:click="activeTaskId = $el.dataset.taskId"
    :class="{
      'active': activeTaskId === $el.dataset.taskId,
      'disabled': formData.is_completed
    }"
    x-on:keydown.space.prevent="$refs.checkbox.click()"
  >
    <input
      type="checkbox"
      class="large-checkbox"
      x-model="formData.is_completed"
      x-ref="checkbox"
      x-on:change="submitChanges()"
    >
    <div class="flex">
      <div>
        <input
          class="as-text"
          type="text"
          value="{{ task.title }}"
          x-model="formData.title"
          x-on:keydown.escape="$refs.task.focus()"
          x-on:keydown.enter="$refs.description.focus()"
          x-on:keydown.stop
          x-on:change="submitChanges()"
        >
        <div class="mute smaller">
          <input
            class="as-text"
            type="text"
            value="{{ task.description }}"
            x-ref="description"
            x-model="formData.description"
            x-on:keydown.escape="$refs.task.focus()"
            x-on:keydown.enter="$refs.task.focus()"
            x-on:keydown.stop
            x-on:change="submitChanges()"
          >
        </div>
      </div>
      <div class="show-on-active margin-left-16">
        <button
          class="small"
          type="button"
          x-on:click="snoozeOptions.show = true"
          x-show="!snoozeOptions.show"
        >
          Snooze
        </button>
        <div x-show="snoozeOptions.show" x-cloak class="smaller">
          <div>
            <strong>Remind me after</strong>
          </div>
          <input type="number" style="width: 36px;" x-model="snoozeOptions.number">
          <select x-model="snoozeOptions.unit">
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
          </select>
          <span class="smaller mute" x-text="formData.snoozed_till"></span>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
