<ul x-data class="no-style margin-top-56" key="category-{{ category.id }}" x-ref="categoryList">
  <li class="margin-bottom-8" key="category-name">
    <h1 class="margin-0">{{ category.name }}</h1>
  </li>
  <li class="margin-bottom-8" x-data="{showForm: false}" key="category-form">
    <button x-on:click="showForm = true" x-show="!showForm">+ Add Task</button>
    <div x-show="showForm" x-cloak>
      <form
        class="form-vertical"
        action="{% url 'boards:tasks:add_task' board_slug=category.board.slug category_id=category.id %}"
        method="POST"
        x-on:submit.prevent="
          Utils.ajaxSubmit($el)
          .then(resp => resp.text())
          .then(html => Alpine.morph($refs.categoryList, html))
          .then(() => {
            $el.title.value = ''
            $el.description.value = ''
          })
        "
      >
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Task</button>
        <button type="button" x-on:click="showForm = false">Cancel</button>
      </form>
    </div>
  </li>

  {% for task in category.incomplete_tasks %}
  <li
    tabindex="-1"
    class="flex flex-align-center padding-8-0"
    key="task-{{ task.id }}"
    data-task-id="{{ task.id }}"
    x-data="{completed: false}"
    x-on:click="activeTaskId = $el.dataset.taskId"
    :class="{'active': activeTaskId === $el.dataset.taskId}"
    x-on:keydown.space.prevent="$refs.checkbox.click()"
  >
    <input
      type="checkbox"
      class="large-checkbox"
      data-action="{% url 'boards:tasks:update_status' board_slug=category.board.slug task_id=task.id %}"
      x-model="completed"
      x-ref="checkbox"
      x-on:change="Utils.post($el.dataset.action, {completed: completed})"
    >
    <div>
      <div>
        {{ task.title }}
        <span class="show-on-active">
          <a
            href="{% url 'boards:tasks:edit' board_slug=category.board.slug task_id=task.id %}"
            class="button small"
          >Edit</a>
        </span>
      </div>
      <div class="mute smaller">{{ task.description }}</div>
      <div class="show-on-active">
        <a
          href="{% url 'boards:tasks:snooze' board_slug=category.board.slug task_id=task.id %}"
          class="button small"
        >Snooze</a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
