{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Get Things Done{% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <script defer src="//unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
  <script defer src="//unpkg.com/alpinejs"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
  {% block content %}
  <h1>Start Building</h1>
  <p class="mute">Build something great.</p>

  <h2>Edit this page</h2>
  <p class="mute">Edit <code>index.html</code> to edit this page.</p>
  {% endblock %}
</body>
</html>
